#play-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	position: absolute;
}

#play-page .countdown {
	position: absolute;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	visibility: hidden;
}

#play-page .countdown > span {
	font-size: 100px;
}

.play-header {
	margin-bottom: 10px;
}

.play-container {
	border: 5px solid #ccc;
	background-color: black;
	border-radius: 5px;
	height: 800px;
	width: 1000px;
	position: relative;
	overflow: hidden; /* Topun sınırları geçince gizlenmesini sağlıyor*/
}

.play-container::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	border-left: 6px dashed #ccc;
	margin-left: -3px;
}

.playerL-name,
.playerR-name {
	font-size: 32px;
	margin: 0 auto;
	position: absolute;
}

.playerL-name {
	left: 10px;
}

.playerR-name {
	right: 10px;
}

.playerL-score,
.playerR-score {
	position: absolute;
}

.playerL-score {
	font-size: 50px;
	left: 45%;
	transform: translate(-50%, 0);
	transition: width 1s ease;
}

.playerR-score {
	font-size: 50px;
	left: 55%;
	transform: translate(-50%, 0);
	transition: width 1s ease;
}

.ball {
	position: absolute;
	background-color: #ccc;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	box-shadow: 0px 0px 50px 10px rgb(0, 0, 255);
}

.playerL,
.playerR {
	border:1px solid #ccc;
	background-color: #ccc;
	width: 10px;
	height: 120px;
	position: absolute;
}

.playerL {
	left: 0;
	box-shadow: 0px 0px 50px 10px rgb(0, 255, 0);
}

.playerR {
	right: 0;
	box-shadow: 0px 0px 50px 10px rgb(255, 0, 0);
}

.leave-game {
	margin-top: 10px;
	background-color: darkred;
	border-radius: 50px;
}
