.page__content {
    margin-top: 3.125vw;
}
.page__content h1, .page__content h2, .page__content h3, .page__content h4, .page__content h5, .page__content h6 {
    font-size: .97vw;
    letter-spacing: .05vw;
    margin-bottom: 1.58vw;
}
.page__content ol, .page__content ul {
    padding-left: 3vw;
}
.page__content ol, .page__content p, .page__content ul {
    line-height: 1.5;
    font-size: 1.25vw;
    margin-bottom: 3.13vw;
}
.password {
    height: 100vh;
    background: #000;
    color: #fff;
}
.password__timer {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: VCR OSD Mono, monospace;
}
.password__value {
    font-size: 12vw;
    margin-left: 4vw;
}
@media (min-width:1024px) {
    .password__value {
    font-size: 8vw;
    margin-left: 2vw;
}
}.password__key {
    font-size: 6vw;
}
@media (min-width:1024px) {
    .password__key {
    font-size: 4vw;
}
}.password__field {
    position: absolute;
    bottom: 25vw;
    left: 25vw;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    border-bottom: 1px solid gray;
    padding: 1.5625vw 0;
    font-size: 4vw;
}
.password__field--focused {
    border-bottom-color: #fff;
}
@media (min-width:1024px) {
    .password__field {
    bottom: 12.5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    padding: 1.5625vw 0;
    font-size: 1.2vw;
}
}.password__input {
    -ms-flex: 1;
    flex: 1;
    color: #fff;
}
.password__input:-ms-input-placeholder {
    color: gray;
}
.password__input::placeholder {
    color: gray;
}
.password__button {
    -ms-flex: 0;
    flex: 0;
    color: #fff;
}
.password__button:disabled {
    color: gray;
}