@font-face {
    font-family: VCR OSD Mono;
    font-weight: 400;
    src: local("VCR OSD Mono"), url(../fonts/assets-860ed65f59dfa8568e57ce34b43a794a.woff2) format("woff2"), url(../fonts/assets-c29ed416d471ff2a5b8ba53c0c3314fb.woff) format("woff"), url(../fonts/assets-343ae1f638a14906d62a9260167b7676.ttf) format("truetype"), url(../fonts/assets-a1d4d202be2831ac0fbe6cff821b9f86.eot) format("embedded-opentype");
}
@font-face {
    font-family: Arquitecta;
    font-weight: 400;
    src: local("Arquitecta"), url(../fonts/assets-4e8544fa3bce7c09fc1539ddad838229.woff2) format("woff2"), url(../fonts/assets-a88072a5a63f22b2a15106f48570041a.woff) format("woff"), url(../fonts/assets-d70b9dc5e4662eed43bcd97422882aa9.ttf) format("truetype"), url(../fonts/assets-4566ab6fbe8bedd0bc3effef85c9bb12.eot) format("embedded-opentype");
}
@font-face {
    font-family: Arquitecta;
    font-weight: 600;
    src: local("Arquitecta Medium"), url(../fonts/assets-b50f6b956384f7111d03cf1b2038ec02.woff2) format("woff2"), url(../fonts/assets-916f053ab0ca3e23482e034ac2d40778.woff) format("woff"), url(../fonts/assets-b5076be89ce88c1d5212bc7eeb5fa372.ttf) format("truetype"), url(../fonts/assets-cdb15f909acc3f261a3405e683b56810.eot) format("embedded-opentype");
}
iframe {
    display: none;
}
html {
    font-size: 62.5%}
body {
    font-family: Arquitecta, sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width:1024px) {
    body {
    overflow: hidden;
}
}button, input {
    border: none;
    outline: none;
    text-transform: inherit;
    padding: 0;
    background: none;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}
button {
    cursor: pointer;
}
a, button {
    color: inherit;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100%}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    font-size: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cover {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100vh);
    z-index: 4;
}
.cover__logo {
    display: none;
    fill: #fff;
    width: 56.25vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width:1024px) {
    .cover__logo {
    width: 30vw;
}
}.cover__message {
    display: none;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 15vh;
    transform: translateX(-50%);
    font-size: 3.33vw;
    font-family: VCR OSD Mono, monospace;
    animation: blink .8s infinite;
}
@media (min-width:1024px) {
    .cover__message {
    font-size: .97vw;
    bottom: 19vh;
}
}.frame {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border: .4rem solid #000;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 3;
    transition: border-width .5s cubic-bezier(.165, .84, .44, 1);
}
.body--password .frame {
    display: none;
}
@media (min-width:1024px) {
    .frame {
    border-width: .36vw;
}
.to-product .frame {
    border-width: 1.04vw;
}
}@media (min-width:1024px) {
    .to-product .collection-progress--horizontal {
    height: 1.04vw;
    transition: height .5s cubic-bezier(.165, .84, .44, 1);
}
.to-product .collection-progress--vertical {
    width: 1.04vw;
    transition: width .5s cubic-bezier(.165, .84, .44, 1);
}
}.template {
    position: relative;
    top: 0;
}
.is-animating.is-launching .cover {
    transform: translateY(0);
    transition: none;
}
.is-animating.is-launching .cover__logo, .is-animating.is-launching .cover__message {
    display: block;
}
.is-animating.is-launching .cover__logo {
    top: 50%;
    transition: none;
}
.is-animating.is-launching .template {
    top: 80vh;
    transition: none;
}
.is-animating.is-launching .footer, .is-animating.is-launching .header {
    transform: translateY(50vh);
    transition: none;
}
@media (min-width:1024px) {
    .is-animating.is-launching .template {
    top: 50vh;
    transition: none;
}
.is-animating.is-launching .collection-products, .is-animating.is-launching .product__header-image {
    transform: translateY(100vh);
    transition: none;
}
.is-animating.is-launching .product__button, .is-animating.is-launching .product__select-wrapper {
    display: none;
}
.is-animating.is-launching .collection-menu, .is-animating.is-launching .lookbook__images, .is-animating.is-launching .product__background-content--fixed, .is-animating.is-launching .product__counter-content--fixed, .is-animating.is-launching .product__heading--fixed, .is-animating.is-launching .product__info--fixed {
    transform: translateY(50vh);
    transition: none;
}
}.is-launching .cover {
    transform: translateY(-100%);
    transition: transform .8s cubic-bezier(.645, .045, .355, 1);
}
.is-launching .cover__logo, .is-launching .cover__message {
    display: block;
}
.is-launching .cover__logo {
    top: 90%;
    transition: top .8s cubic-bezier(.645, .045, .355, 1);
}
.is-launching .template {
    top: 0;
    transition: top .8s cubic-bezier(.645, .045, .355, 1);
}
.is-launching .footer, .is-launching .header {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.645, .045, .355, 1);
}
@media (min-width:1024px) {
    .is-launching .collection-products, .is-launching .product__header-image {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.645, .045, .355, 1);
}
.is-launching .product__button, .is-launching .product__select-wrapper {
    display: none;
}
.is-launching .collection-menu, .is-launching .lookbook__images, .is-launching .product__background-content--fixed, .is-launching .product__counter-content--fixed, .is-launching .product__heading--fixed, .is-launching .product__info--fixed {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.645, .045, .355, 1);
}
}.is-leaving .cover {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.895, .03, .685, .22);
}
.is-leaving .template {
    top: -25vh;
    transition: top .8s cubic-bezier(.895, .03, .685, .22);
}
.is-leaving .footer, .is-leaving .header {
    transform: translateY(-25vh);
    transition: transform .8s cubic-bezier(.895, .03, .685, .22);
}
@media (min-width:1024px) {
    .is-leaving .collection-menu, .is-leaving .lookbook__images, .is-leaving .product__background-content--fixed, .is-leaving .product__button--fixed, .is-leaving .product__counter-content--fixed, .is-leaving .product__heading--fixed, .is-leaving .product__info--fixed, .is-leaving .product__select-wrapper--fixed {
    transform: translateY(-25vh);
    transition: transform .8s cubic-bezier(.895, .03, .685, .22);
}
}.is-animating.is-rendering .cover {
    transform: translateY(0);
    transition: none;
}
.is-animating.is-rendering .template {
    top: 50vh;
    transition: none;
}
.is-animating.is-rendering .footer, .is-animating.is-rendering .header {
    transform: translateY(50vh);
    transition: none;
}
@media (min-width:1024px) {
    .is-animating.is-rendering .collection-products, .is-animating.is-rendering .product__header-image {
    transform: translateY(100vh);
    transition: none;
}
.is-animating.is-rendering .product__button, .is-animating.is-rendering .product__select-wrapper {
    display: none;
}
.is-animating.is-rendering .collection-menu, .is-animating.is-rendering .lookbook__images, .is-animating.is-rendering .product__background-content--fixed, .is-animating.is-rendering .product__counter-content--fixed, .is-animating.is-rendering .product__heading--fixed, .is-animating.is-rendering .product__info--fixed {
    transform: translateY(50vh);
    transition: none;
}
}.is-rendering .collection-products__container, .is-rendering .lookbook-thumbnail__container, .is-rendering .lookbook__container, .is-rendering .product__container {
    min-height: 150vh;
}
.is-rendering .cover {
    transform: translateY(-100vh);
    transition: transform .8s cubic-bezier(.165, .84, .44, 1);
}
.is-rendering .template {
    top: 0;
    transition: top .8s cubic-bezier(.165, .84, .44, 1);
}
.is-rendering .footer, .is-rendering .header {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.165, .84, .44, 1);
}
@media (min-width:1024px) {
    .is-rendering .collection-products__container, .is-rendering .lookbook-thumbnail__container, .is-rendering .lookbook__container, .is-rendering .product__container {
    min-height: unset;
}
.is-rendering .collection-products, .is-rendering .product__header-image {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.165, .84, .44, 1);
}
.is-rendering .product__button, .is-rendering .product__select-wrapper {
    display: none;
}
.is-rendering .collection-menu, .is-rendering .lookbook__images, .is-rendering .product__background-content--fixed, .is-rendering .product__counter-content--fixed, .is-rendering .product__heading--fixed, .is-rendering .product__info--fixed {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.165, .84, .44, 1);
}
}.collection-products {
    margin: 0;
}
@media (min-width:1024px) {
    .collection-products {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    overflow-y: hidden;
}
}.collection-products__column--reverse {
    display: none;
}
@media (min-width:1024px) {
    .collection-products__column--reverse {
    display: block;
    transform: translate3d(0, calc(-100% + 100vh), 0);
    margin-left: 6.25vw;
}
}.collection-products__items:last-child {
    display: none;
}
@media (min-width:1024px) {
    .collection-products__items {
    padding-top: 6.25vw;
}
.collection-products__items:last-child {
    display: block;
}
}.collection-products__item {
    margin-bottom: 1px;
    line-height: 0;
}
.collection-products__item--lifestyle {
    display: none;
}
@media (min-width:1024px) {
    .collection-products__item {
    width: 34.03vw;
    margin-bottom: 6.25vw;
}
.collection-products__item:last-child {
    margin-bottom: 0;
}
.collection-products__item--lifestyle {
    display: block;
}
}.collection-products__product {
    font-size: 3.6vw;
}
@media (min-width:1024px) {
    .collection-products__product {
    font-size: 1.171875vw;
}
}.collection-products__product .product-thumbnail__info {
    opacity: 1;
}
@media (min-width:1024px) {
    .collection-products__product .product-thumbnail__info {
    opacity: 0;
    max-width: 50%}
}.collection-products__lifestyle {
    width: 100%}
@media (min-width:1024px) {
    .collection-products__lifestyle {
    height: 100%}
}.product-thumbnail__square {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background: #f6f6f6;
    overflow: hidden;
}
@media (min-width:1024px) {
    .product-thumbnail__square {
    perspective: 100vh;
}
}.product-thumbnail__image {
    transform: translateZ(-20vh);
}
.product-thumbnail__image, .product-thumbnail__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.product-thumbnail__link {
    font-family: VCR OSD Mono, monospace;
    letter-spacing: .1rem;
    overflow: hidden;
}
.product-thumbnail__button {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
@media (min-width:1024px) {
    .product-thumbnail__button {
    background: #fff;
}
.product-thumbnail__link:hover .product-thumbnail__button {
    opacity: 1;
}
}.product-thumbnail__button-text {
    font-size: .97vw;
    white-space: nowrap;
    padding: .69vw;
    line-height: 1;
    animation: slide 2s linear 0s infinite;
}
.product-thumbnail__button-text:last-child {
    position: absolute;
    top: 0;
    left: 100%}
.product-thumbnail__info {
    position: absolute;
    left: 6.25%;
    bottom: 6.25%;
    max-width: 87.5%;
    line-height: 1.25;
    overflow-x: hidden;
    opacity: 0;
}
@media (min-width:1024px) {
    .product-thumbnail__link: hover .product-thumbnail__info {
    opacity: 1;
    transition: opacity 0s linear .05s;
}
}.product-thumbnail__price, .product-thumbnail__title {
    display: inline;
    background: #fff;
}
@media (min-width:1024px) {
    .product-thumbnail__price, .product-thumbnail__title {
    font-size: .97vw;
    background: transparent;
}
}.video {
    position: relative;
    overflow-y: hidden;
}
.video__poster, .video__video {
    width: 100%;
    height: 100%}
.video__poster {
    position: absolute;
    top: 0;
    left: 0;
}
.video--ready .video__poster {
    display: none;
}
.newsletter-form {
    font-family: VCR OSD Mono, monospace;
    color: #fff;
}
.newsletter-form__message {
    font-size: 6vw;
}
.newsletter-form__message p:first-child {
    margin-top: 0;
}
.newsletter-form__message p:last-child {
    margin-bottom: 0;
}
@media (min-width:1024px) {
    .newsletter-form__message {
    font-size: 2vw;
}
}.newsletter-form__field {
    margin-top: 6.25vw;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    border-bottom: 1px solid #444;
    padding: 1.5625vw 0;
    font-size: 4vw;
}
.newsletter-form__field--focused {
    border-bottom-color: #fff;
}
@media (min-width:1024px) {
    .newsletter-form__field {
    width: 64%;
    padding: 1.5625vw 0;
    font-size: 1.2vw;
    margin-top: 1.5625vw;
}
}.newsletter-form__email {
    -ms-flex: 1;
    flex: 1;
    background: transparent;
    color: #fff;
}
.newsletter-form__email:-ms-input-placeholder {
    color: #444;
}
.newsletter-form__email::placeholder {
    color: #444;
}
.newsletter-form__button {
    font-family: VCR OSD Mono, monospace;
    -ms-flex: 0;
    flex: 0;
    background: transparent;
    color: #fff;
}
.newsletter-form__button:disabled {
    color: #444;
}
.lookbook {
    font-family: VCR OSD Mono, monospace;
    padding-top: 64vh;
}
@media (min-width:1024px) {
    .lookbook {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 42vh;
}
}.lookbook__background {
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    color: #f3f3f3;
}
@media (min-width:1024px) {
    .lookbook__background {
    top: 50%;
    font-size: 21.6vw;
}
}.lookbook__text {
    font-size: 43vw;
    line-height: .8;
}
@media (min-width:1024px) {
    .lookbook__text {
    display: none;
}
}.lookbook__title {
    font-size: 6.67vw;
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media (min-width:1024px) {
    .lookbook__title {
    font-size: 2.78vw;
}
}.lookbook__images {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6.25vw;
}
.lookbook__images:last-child {
    display: none;
}
@media (min-width:1024px) {
    .lookbook__images {
    margin: 0;
    margin-bottom: 12.5vw;
}
.lookbook__images:first-of-type {
    margin-top: 13.82vw;
}
.lookbook__images:first-of-type>.lookbook__image-item:nth-child(2n) {
    display: none;
}
.lookbook__images:last-of-type {
    display: -ms-flexbox;
    display: flex;
    margin-left: 6.25vw;
}
.lookbook__images:last-of-type .lookbook__image-item:nth-child(odd) {
    display: none;
}
}.lookbook__image-item {
    z-index: 0;
    perspective: 102.4rem;
}
.lookbook__image-item:not(:first-child) {
    margin-top: 12.5vw;
}
@media (min-width:1024px) {
    .lookbook__image-item: not(:first-child) {
    margin-top: 0;
}
.lookbook__image-item:nth-child(n+3) {
    margin-top: 25vh;
}
}.lookbook__image {
    height: 96vw;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width:1024px) {
    .lookbook__image {
    height: 91.5vh;
}
}.lookbook-thumbnail {
    height: 100vh;
    position: relative;
    background: #0a0a0a;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    perspective: 100vh;
    overflow: hidden;
}
@media (min-width:1024px) {
    .lookbook-thumbnail {
    background: #fff;
    color: #000;
}
}.lookbook-thumbnail__link {
    display: none;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
}
}.lookbook-thumbnail__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__title {
    left: auto;
    transform: none;
    display: block;
    pointer-events: none;
}
}.lookbook-thumbnail__title--first {
    top: 12.5vw;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__title--first {
    top: auto;
    left: 6.25vw;
    bottom: 6.25vw;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
}
}.lookbook-thumbnail__title--second {
    bottom: 12.5vw;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__title--second {
    bottom: auto;
    right: 6.25vw;
    top: 6.25vw;
    transform: rotate(90deg) translateX(100%);
    transform-origin: top right;
}
}.lookbook-thumbnail__main-title {
    font-size: 13.33vw;
    font-family: VCR OSD Mono, monospace;
    line-height: 1;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__main-title {
    font-size: 7.5vw;
}
}.lookbook-thumbnail__subtitle {
    font-size: 3.33vw;
    letter-spacing: .15em;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__subtitle {
    font-size: 1vw;
}
}.lookbook-thumbnail__button {
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__button {
    display: none;
    pointer-events: none;
    background: #000;
}
.lookbook-thumbnail__link:hover~.lookbook-thumbnail__button {
    display: block;
}
}.lookbook-thumbnail__button-text {
    animation: slide 2s linear 0s infinite;
    font-family: VCR OSD Mono, monospace;
    padding: 3.125vw;
    font-size: 4vw;
    letter-spacing: .15em;
    color: #000;
    line-height: 1;
    white-space: nowrap;
}
.lookbook-thumbnail__button-text:last-child {
    position: absolute;
    top: 0;
    left: 100%}
@media (min-width:1024px) {
    .lookbook-thumbnail__button-text {
    color: #fff;
    font-size: .97vw;
    pointer-events: none;
    padding: .69vw;
}
}.lookbook-thumbnail__images {
    z-index: -1;
}
.lookbook-thumbnail__images:last-of-type {
    display: none;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__images: first-of-type {
    margin-top: 6.25vw;
}
.lookbook-thumbnail__images:last-of-type {
    display: block;
    margin-left: 3.125vw;
}
}.lookbook-thumbnail__image-item {
    margin-top: 6.25vw;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__image-item {
    margin-top: 3.125vw;
}
.lookbook-thumbnail__images:first-of-type .lookbook-thumbnail__image-item:nth-child(2n), .lookbook-thumbnail__images:last-of-type .lookbook-thumbnail__image-item:nth-child(odd) {
    display: none;
}
}.lookbook-thumbnail__image {
    width: 80vw;
}
@media (min-width:1024px) {
    .lookbook-thumbnail__image {
    width: 32vw;
}
}.gdpr {
    position: fixed;
    z-index: 3;
    bottom: 6.25vw;
    left: 6.25vw;
    right: 6.25vw;
    font-size: 2.9vw;
    letter-spacing: .15em;
    font-weight: 600;
    padding: 6.25vw;
    background: #000;
    color: #fff;
}
.body--password .gdpr, .gdpr--accepted {
    display: none;
}
@media (min-width:1024px) {
    .gdpr {
    bottom: 3.125vw;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 59.86vw;
    font-size: .83vw;
    padding: 1.5625vw;
}
}.gdpr__description {
    margin-top: 3.125vw;
}
.gdpr__description p {
    margin: 0;
    line-height: 1.5;
}
.gdpr__description a {
    border-bottom: 1px solid #fff;
}
@media (min-width:1024px) {
    .gdpr__description {
    margin-top: .78125vw;
}
}.gdpr__button {
    position: absolute;
    right: 6.25vw;
    top: 6.25vw;
    white-space: nowrap;
    border-bottom: 1px solid #fff;
}
@media (min-width:1024px) {
    .gdpr__button {
    right: 1.5625vw;
    top: 1.5625vw;
}
}.hero {
    overflow: hidden;
}
@media (min-width:1024px) {
    .hero {
    height: 100vh;
    position: relative;
}
}.hero__image {
    -o-object-fit: cover;
    object-fit: cover;
}
.hero__background-image {
    display: none;
}
@media (min-width:1024px) {
    .hero__background-image {
    display: block;
    width: 120vw;
    height: 120vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
}.hero__heading {
    display: none;
}
@media (min-width:1024px) {
    .hero__heading {
    display: block;
    font-family: VCR OSD Mono, monospace;
    color: #fff;
    font-size: 10vw;
    white-space: nowrap;
}
}@media (min-width:1024px) {
    .hero__foreground, .hero__heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero__foreground {
    width: 48vh;
    height: 64vh;
    background: #fff;
    perspective: 100vh;
}
}.hero__background-image-wrapper {
    display: none;
}
@media (min-width:1024px) {
    .hero__background-image-wrapper {
    display: block;
    overflow: hidden;
    width: 100.5%;
    height: 100.5%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
}@media (min-width:1024px) {
    .hero__rotation {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    transform: translateZ(20vh) scale(.8);
}
}.hero__foreground-image-wrapper:not(:first-child) {
    display: none;
}
@media (min-width:1024px) {
    .hero__foreground-image-wrapper {
    display: block;
}
}.hero__foreground-image {
    height: 72vh;
    width: 100vw;
}
@media (min-width:1024px) {
    .hero__foreground-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
}.hero__heading--fake {
    display: none;
}
@media (min-width:1024px) {
    .hero__heading--fake {
    display: block;
}
}.hero__btn {
    font-family: VCR OSD Mono, monospace;
    color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: end;
    align-items: flex-end;
}
.hero__btn, .hero__btn-box {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
}
.hero__btn-box {
    bottom: 20vw;
    background: #000;
    overflow: hidden;
    width: 30vw;
}
@media (min-width:1024px) {
    .hero__btn-box {
    display: none;
}
}.hero__btn-text {
    padding: 3.125vw;
    font-size: 4vw;
    letter-spacing: .15em;
    white-space: nowrap;
    line-height: 1;
    animation: slide 2s linear 0s infinite;
}
.about {
    margin: 6.25vw;
    margin-top: 17.97vw;
}
@media (min-width:1024px) {
    .about {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    perspective: 100vh;
}
}.about__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%}
@media (min-width:1024px) {
    .about__image {
    width: 40vw;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
}.about__content {
    color: #0a0a0a;
    font-size: 5.33vw;
    font-family: VCR OSD Mono, monospace;
    line-height: 1.5;
    margin-top: 6.25vw;
    letter-spacing: .15em;
    white-space: pre-line;
    position: relative;
}
@media (min-width:1024px) {
    .about__content {
    padding: 14.58vw 5vw 9.31vw;
    box-sizing: border-box;
    width: 60vw;
    font-size: 1.74vw;
    margin-top: 0;
}
}.about__copy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    white-space: pre-line;
    background: #fff;
}
@media (min-width:1024px) {
    .about__copy {
    padding: 14.58vw 5vw 9.31vw;
    box-sizing: border-box;
}
}#shopify-section-collection-menu {
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 1;
}
@media (min-width:1024px) {
    #shopify-section-collection-menu {
    position: fixed;
    bottom: 3.125vw;
    left: 3.125vw;
    top: unset;
}
}.collection-menu {
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    padding: 6.25vw 0;
    background: #fff;
}
@media (min-width:1024px) {
    .collection-menu {
    display: block;
    overflow-x: hidden;
    padding: 0;
    background: transparent;
}
}.collection-menu__collections {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0;
    flex: 0 0;
}
.collection-menu__collections:first-child {
    padding-left: 6.25vw;
}
.collection-menu__collections:last-child {
    padding-right: 6.25vw;
}
.collection-menu__collections--categories {
    margin-right: 6.25vw;
}
@media (min-width:1024px) {
    .collection-menu__collections {
    display: block;
}
.collection-menu__collections:first-child {
    padding-left: 0;
}
.collection-menu__collections:last-child {
    padding-right: 0;
}
.collection-menu__collections--categories {
    margin-right: 0;
    margin-bottom: 3.125vw;
}
}.collection-menu__collection {
    -ms-flex: 0 0;
    flex: 0 0;
}
.collection-menu__collection:not(:first-child) {
    margin-left: 6.25vw;
}
@media (min-width:1024px) {
    .collection-menu__collection: not(:first-child) {
    margin-left: 0;
    margin-top: .63vw;
}
}.collection-menu__link {
    font-family: VCR OSD Mono, monospace;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.collection-menu__title {
    font-size: 4.6875vw;
    line-height: 1;
}
.collection-menu__title--current {
    background: #000;
    color: #fff;
}
@media (min-width:1024px) {
    .collection-menu__title {
    font-size: .97vw;
}
}.collection-menu__count {
    font-size: 3.125vw;
}
@media (min-width:1024px) {
    .collection-menu__count {
    font-size: .7vw;
}
}.collection-menu__collections:last-child .collection-menu__count {
    display: none;
}
@media (min-width:1024px) {
    .collection-menu__collections: last-child .collection-menu__title--current+.collection-menu__count, .collection-menu__collections:last-child .collection-menu__title:hover+.collection-menu__count {
    display: block;
}
}.featured-collection {
    font-family: VCR OSD Mono, monospace;
}
@media (min-width:1024px) {
    .featured-collection {
    position: relative;
}
}.featured-collection__footer, .featured-collection__header {
    padding: 12.5vw;
}
@media (min-width:1024px) {
    .featured-collection__header {
    padding: 6.25vw;
}
}.featured-collection__heading {
    font-size: 6.25vw;
}
@media (min-width:1024px) {
    .featured-collection__heading {
    font-size: 2.78vw;
}
}.featured-collection__products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .1rem;
}
@media (min-width:1024px) {
    .featured-collection__products {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
}
}@media (min-width:1024px) {
    .featured-collection__product {
    font-size: 1.171875vw;
}
}.featured-collection .product-thumbnail__container:nth-child(n+7), .featured-collection__message-container {
    display: none;
}
@media (min-width:1024px) {
    .featured-collection .product-thumbnail__container: nth-child(n+7), .featured-collection__message-container {
    display: block;
}
}.featured-collection__message-container {
    grid-row: 2/3;
    grid-column: 2/3;
    background: #000;
    position: relative;
}
.featured-collection__message {
    color: #fff;
    font-size: 1.74vw;
    position: absolute;
    left: 9.375%;
    bottom: 6.25%;
    line-height: 1.2;
    letter-spacing: .1rem;
}
.featured-collection__message p {
    margin: 0;
}
.featured-collection__blink {
    background: #fff;
    position: absolute;
    right: 9.375%;
    bottom: 6.25%;
    width: 1.5625%;
    height: 1.5625%;
    border-radius: 50%;
    animation: blink 1s infinite;
}
@keyframes blink {
    to {
    opacity: 0;
}
}.featured-collection__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f6f6f6;
    margin-top: 1px;
}
@media (min-width:1024px) {
    .featured-collection__footer {
    padding: 0;
    margin-top: 0;
}
}.featured-collection__button {
    display: block;
    overflow: hidden;
    background: #000;
    color: #fff;
    position: relative;
}
@media (min-width:1024px) {
    .featured-collection__button {
    position: absolute;
    top: 6.7vw;
    right: 6.25vw;
}
}.featured-collection__button-text {
    padding: 3.125vw;
    font-size: 4vw;
    letter-spacing: .15em;
    white-space: nowrap;
    line-height: 1;
    animation: slide 2s linear 0s infinite;
}
.featured-collection__button-text:last-child {
    position: absolute;
    top: 0;
    left: 100%}
@media (min-width:1024px) {
    .featured-collection__button-text {
    font-size: .97vw;
    padding: .7vw;
}
}.product {
    position: relative;
}
.product__header {
    height: 0;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width:1024px) {
    .product__header {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
}.product__header-image {
    height: 150vw;
    width: 150vw;
    -o-object-fit: cover;
    object-fit: cover;
    transform: translateY(-10%);
}
@media (min-width:1024px) {
    .product__header-image {
    transform: none;
}
}@media (min-width:1024px) {
    .product__background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 18.75vw);
}
}@media (min-width:1024px) {
    .product__background-content {
    width: 100%;
    height: 100%;
    background: #fff;
}
}.product__text {
    margin: 25vw 6.25vw 12.5vw;
}
@media (min-width:1024px) {
    .product__text {
    position: fixed;
    width: 50vw;
    height: 100vh;
    left: 0;
    top: 18.75vw;
    margin: 0;
    padding: 6.25vw;
    padding-bottom: 3.125vw;
    z-index: 1;
    box-sizing: border-box;
}
}.product__title {
    font-size: 6.25vw;
    font-family: VCR OSD Mono, monospace;
}
@media (min-width:1024px) {
    .product__title {
    font-size: 2.78vw;
    color: transparent;
    position: relative;
}
}@media (min-width:1024px) {
    .product__title--copy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
}
}.product__price {
    font-family: VCR OSD Mono, monospace;
    margin-top: 1.5625vw;
    font-size: 3.90625vw;
}
@media (min-width:1024px) {
    .product__price {
    font-size: 1.39vw;
    margin-top: 1.56vw;
    line-height: .5;
}
}.product__info-button {
    display: none;
    position: fixed;
    right: 6.25vw;
    top: 6.25vw;
    font-size: 6.25vw;
    background: transparent;
    font-family: VCR OSD Mono, monospace;
    text-transform: lowercase;
    color: #fff;
    z-index: 4;
}
.product__info-button--visible {
    display: block;
}
@media (min-width:1024px) {
    .product__info-button {
    display: none;
}
}.product__info {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    overflow-y: scroll;
    padding: 12.5vw;
    color: #fff;
    display: none;
    z-index: 3;
    box-sizing: border-box;
}
.product__info--visible {
    display: block;
}
@media (min-width:1024px) {
    .product__info {
    display: block;
    position: absolute;
    background: transparent;
    color: #0a0a0a;
    padding: 0;
    width: 19vw;
    height: auto;
    left: 6.25vw;
    bottom: 3.125vw;
    right: auto;
    top: auto;
}
}.product__info-item:not(:first-of-type) {
    margin-top: 12.5vw;
}
@media (min-width:1024px) {
    .product__info-item {
    line-height: .9;
}
.product__info-item:not(:first-of-type) {
    margin-top: .63vw;
}
}.product__info-item-button {
    text-transform: uppercase;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.product__info-title {
    font-size: 6.25vw;
    font-family: VCR OSD Mono, monospace;
    letter-spacing: .05vw;
}
@media (min-width:1024px) {
    .product__info-title {
    font-size: .97vw;
}
}.product__info-content {
    font-size: 3.125vw;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 2px;
}
@media (min-width:1024px) {
    .product__info-content {
    font-size: .83vw;
    overflow-y: hidden;
}
.product__info-content>:first-child {
    margin-top: 1.56vw;
}
.product__info-content>:last-child {
    margin-bottom: 1.56vw;
}
}@media (min-width:1024px) {
    .product__images {
    padding: 12.5vw 18.75vw;
    position: relative;
}
}.product__image-wrapper:not(:first-child) {
    margin-top: 1px;
}
@media (min-width:1024px) {
    .product__image-wrapper: not(:first-child) {
    margin-top: 6.25vw;
}
}.product__image {
    width: 100vw;
    height: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    line-height: 0;
    display: block;
}
@media (min-width:1024px) {
    .product__image {
    width: 62.5vw;
    height: 62.5vw;
}
.product__image:not(:first-child) {
    margin-top: 6.25vw;
}
}.product__usp {
    font-size: 3.90625vw;
    font-family: VCR OSD Mono, monospace;
    text-align: center;
    margin: 12vw 6.25vw;
    line-height: 1.5;
}
.product__usp p:first-child {
    margin-top: 0;
}
.product__usp p:last-child {
    margin-bottom: 0;
}
@media (min-width:1024px) {
    .product__usp {
    font-size: 2.08vw;
    line-height: 1.2;
    width: 50%;
    margin: 6.25vw auto 0;
}
}.product__counter {
    display: none;
}
@media (min-width:1024px) {
    .product__counter {
    display: block;
    position: fixed;
    right: 3.125vw;
    bottom: 50vh;
    transform: translateY(-50%);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: .97vw;
    font-family: VCR OSD Mono, monospace;
}
}.product__controls {
    position: -webkit-sticky;
    position: sticky;
    bottom: 6.25vw;
    margin-top: 18.75vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width:1024px) {
    .product__controls {
    position: fixed;
    bottom: 3.125vw;
    right: 6.25vw;
}
}.product__button {
    background: #000;
    font-family: VCR OSD Mono, monospace;
    font-size: 3.90625vw;
    padding: 2.34375vw;
    color: #fff;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.product__button:not(:first-child) {
    margin-left: 3.125vw;
}
@media (min-width:1024px) {
    .product__button {
    font-size: .97vw;
    padding: .58vw;
    letter-spacing: .1vw;
}
.product__button--info {
    display: none;
}
.product__button:not(:first-child) {
    margin-left: 1.5625vw;
}
}.product__button--unavailable {
    position: relative;
    padding: 0;
    overflow: hidden;
    display: block;
}
.product__button-text {
    white-space: nowrap;
    padding: 2.34357vw;
    line-height: 1;
    animation: slide 2s linear 0s infinite;
}
@keyframes slide {
    to {
    transform: translateX(-100%);
}
}.product__button-text:last-child {
    position: absolute;
    top: 0;
    left: 100%}
@media (min-width:1024px) {
    .product__button-text {
    font-size: .97vw;
    padding: .58vw;
    letter-spacing: .1vw;
}
}.product__button-arrow {
    width: 2vw;
    margin-left: 1vw;
}
@media (min-width:1024px) {
    .product__button-arrow {
    width: .5vw;
    margin-left: .5vw;
}
}.product__select-wrapper {
    position: relative;
    margin-left: 3.125vw;
}
.product__select {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}
.recommendation {
    margin-top: 12.5vw;
}
@media (min-width:1024px) {
    .recommendation {
    margin-top: 6.25vw;
    position: relative;
}
}.recommendation__heading {
    font-family: VCR OSD Mono, monospace;
    text-align: center;
    font-size: 6.25vw;
    letter-spacing: .78125vw;
}
@media (min-width:1024px) {
    .recommendation__heading {
    font-size: 3vw;
    margin: 0 6.25vw;
    text-align: justify;
    line-height: 1;
}
.recommendation__heading:after {
    content: "";
    width: 100%;
    height: 6.25vw;
    display: inline-block;
}
}.recommendation__content {
    margin-top: 12.5vw;
    display: -ms-flexbox;
    display: flex;
}
@media (min-width:1024px) {
    .recommendation__content {
    margin-top: 0;
}
.recommendation__content>* {
    height: calc((100vw - 2px) / 3);
}
}.recommendation__product {
    -ms-flex: 1;
    flex: 1;
}
.recommendation__product:not(:first-child) {
    margin-left: 1px;
}
.recommendation__product .product__thumbnail {
    width: 100%}
.recommendation__link {
    display: none;
}
@media (min-width:1024px) {
    .recommendation__link {
    -ms-flex: 1;
    flex: 1;
    display: block;
    margin-left: 1px;
    position: relative;
}
}.recommendation__video {
    height: 100%}
.recommendation__video .video__poster, .recommendation__video .video__video {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%}
.recommendation__link-footer {
    display: none;
}
@media (min-width:1024px) {
    .recommendation__link-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc((100vw - 2px) / 3);
    padding: 3.125vw;
    font-family: VCR OSD Mono, monospace;
    color: #fff;
    box-sizing: border-box;
}
}@media (min-width:1024px) {
    .recommendation__link-title {
    font-size: 1.74vw;
}
.recommendation__link-title p:first-child {
    margin-top: 0;
}
.recommendation__link-title p:last-child {
    margin-bottom: 0;
}
}@media (min-width:1024px) {
    .recommendation__link-arrow {
    margin-left: auto;
    font-size: 2.43vw;
}
.recommendation__link:hover .recommendation__link-arrow {
    animation: blink 1s infinite;
}
@keyframes blink {
    to {
    opacity: 0;
}
}}#shopify-section-footer {
    margin-top: auto;
}
.footer {
    background: #000;
    padding: 12.5vw;
    position: relative;
    color: #fff;
    z-index: 1;
}
.body--password .footer {
    display: none;
}
@media (min-width:1024px) {
    .footer {
    display: -ms-flexbox;
    display: flex;
    padding: 12.5vw;
    min-height: 18.75vw;
    font-size: .83vw;
    letter-spacing: .15em;
}
.body--collection .footer {
    display: none;
}
}@media (min-width:1024px) {
    .footer__column {
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 6.25vw;
    box-sizing: border-box;
}
.footer__column:first-child {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%}
}.footer__copyright {
    color: #444;
    font-size: 3.2vw;
    margin-top: 12.5vw;
    margin-left: 9.375vw;
}
@media (min-width:1024px) {
    .footer__copyright {
    font-size: inherit;
    margin-top: auto;
    margin-left: 0;
}
}.footer__navigation {
    display: none;
}
@media (min-width:1024px) {
    .footer__navigation {
    display: block;
}
}@media (min-width:1024px) {
    .footer__menu-item: not(:first-child) {
    margin-top: 1.04167vw;
}
}@media (min-width:1024px) {
    .footer__menu-link {
    display: inline-block;
}
.footer__menu-link:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .5s cubic-bezier(.215, .61, .355, 1);
}
.footer__menu-link:hover:after {
    width: 100%}
}.footer__social-media {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 12.5vw;
    left: 12.5vw;
}
@media (min-width:1024px) {
    .footer__social-media {
    position: static;
    transform: none;
    bottom: 0;
    left: 0;
}
}.footer__social-medium:not(:first-child) {
    margin-left: 12.5vw;
}
@media (min-width:1024px) {
    .footer__social-medium: not(:first-child) {
    margin-left: 1.5625vw;
}
}.footer__social-medium-link svg {
    height: 5vw;
    fill: #fff;
}
@media (min-width:1024px) {
    .footer__social-medium-link svg {
    height: 1vw;
}
}.footer__credit {
    margin-top: 2.08333vw;
    margin-left: 9.375vw;
    color: #444;
    font-size: 3.2vw;
}
@media (min-width:1024px) {
    .footer__credit {
    margin-left: 0;
    font-size: inherit;
    margin-top: auto;
    color: #fff;
}
}.footer__credit-link {
    color: #676767;
    border-bottom: 1px solid #676767;
}
@media (min-width:1024px) {
    .footer__credit-link {
    color: #fff;
}
}.body--password .header__logo {
    fill: #fff;
}
.body--password .header__aside-button, .body--password .header__cart-button, .body--password .header__navigation {
    display: none;
}
.header {
    margin: 6.25vw;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    height: 5.47vw;
    left: 0;
    top: 0;
    width: 87.5vw;
    z-index: 3;
    font-size: 3.2vw;
    line-height: 1;
}
@media (max-width:1024px) {
    body[class*=body--collection] .header {
    position: relative;
}
}.header--light .header__line {
    background: #fff;
}
.header--light .header__cart-icon, .header--light .header__logo {
    fill: #fff;
}
.header--light .header__cart-text, .header--light .header__link {
    color: #fff;
}
@media (min-width:1024px) {
    .header {
    margin: 3.125vw;
    height: 1.39vw;
    width: 93.75vw;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: .83vw;
    letter-spacing: .1vw;
    font-weight: 600;
}
.body--collection .header {
    position: fixed;
}
}.header__aside-button {
    width: 5.07vw;
    position: relative;
}
@media (min-width:1024px) {
    .header__aside-button {
    display: none;
}
}.header__line {
    width: 100%;
    height: 2px;
    background: #000;
    left: 0;
    position: absolute;
    transition: all .5s ease-out;
}
.header--aside-open .header__line {
    background: #fff;
}
.header__line:first-child {
    top: 0;
    transform-origin: top left;
}
.header--aside-open .header__line:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 50%}
.header__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header__line:nth-child(3) {
    bottom: 0;
    transform-origin: bottom left;
}
.header--aside-open .header__line:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    width: 50%}
.header__navigation {
    display: none;
}
@media (min-width:1024px) {
    .header__navigation {
    display: block;
}
.header__navigation:last-of-type {
    margin-left: auto;
}
}@media (min-width:1024px) {
    .header__menu {
    display: -ms-flexbox;
    display: flex;
}
}@media (min-width:1024px) {
    .header__link {
    transition: color .5s ease-out;
}
.header__link:not(:first-child) {
    margin-left: .78125vw;
}
}.header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: fill .5s ease-out;
}
.header--aside-open .header__logo {
    fill: #fff;
}
.header__cart-button {
    position: relative;
    margin-left: auto;
    width: 5.07vw;
}
@media (min-width:1024px) {
    .header__cart-button {
    margin-left: .78125vw;
    width: auto;
    position: static;
}
}.header__cart-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: fill .5s ease-out;
}
.header--aside-open .header__cart-icon {
    fill: #fff;
}
@media (min-width:1024px) {
    .header__cart-icon {
    display: none;
}
}.header__cart-text {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color .5s ease-out;
}
.header--aside-open .header__cart-text {
    color: #fff;
}
@media (min-width:1024px) {
    .header__cart-text {
    position: static;
    transform: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
}.header__cart-title {
    display: none;
}
@media (min-width:1024px) {
    .header__cart-title {
    display: block;
}
}@media (min-width:1024px) {
    .header__cart-count {
    font-size: .6vw;
    letter-spacing: .05vw;
}
}.header__cart-pad {
    display: none;
}
@media (min-width:1024px) {
    .header__cart-pad {
    display: inline;
}
}.aside {
    width: 100vw;
    height: 100vh;
    background: #000;
    padding: 17.97vw 12.5vw 18.75vw;
    box-sizing: border-box;
    transform: translateX(-100%);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    transition: transform .5s cubic-bezier(.215, .61, .355, 1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
}
.aside--open {
    transform: translateX(0);
}
@media (min-width:1024px) {
    .aside {
    display: none;
}
}.aside__navigation--primary {
    margin: auto 0;
}
.aside__navigation--secondary {
    margin-top: auto;
}
.aside__menu-item--primary {
    font-size: 7.33vw;
    letter-spacing: 2px;
}
.aside__menu-item--primary:not(:first-child) {
    margin-top: 6.25vw;
}
.aside__menu-item--secondary {
    font-size: 3.33vw;
    letter-spacing: 1px;
}
.aside__menu-item--secondary:not(:first-child) {
    margin-top: 3.125vw;
}
.cart__background {
    display: none;
}
@media (min-width:1024px) {
    .cart__background--visible {
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}
}.cart {
    background: #000;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    max-height: 100vh;
    color: #f6f6f6;
    z-index: 3;
    padding: 6.25vw;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .5s cubic-bezier(.215, .61, .355, 1), opacity .5s step-end;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.cart .cart__empty-view {
    display: none;
}
.cart--open {
    opacity: 1;
    transform: translateY(0);
    transition: transform .5s cubic-bezier(.215, .61, .355, 1), opacity .5s step-start;
}
.cart--empty .cart__scroll-area, .cart--empty .cart__title {
    display: none;
}
.cart--empty .cart__empty-view, .cart--empty .cart__title--empty-message {
    display: block;
}
@media (min-width:1024px) {
    .cart {
    width: 33.3vw;
    height: 100vh;
    padding: 6.25vw 3.125vw 3.125vw;
    left: auto;
    right: 0;
    transform: translate(100%);
}
.cart--open {
    transform: translate(0);
}
}.cart__count {
    text-align: center;
    font-size: 53.36vw;
    color: #202020;
    font-family: VCR OSD Mono, monospace;
    line-height: 1;
}
@media (min-width:1024px) {
    .cart__count {
    font-size: 22.35vw;
}
}.cart__close {
    position: absolute;
    right: 6.25vw;
    top: 6.25vw;
}
@media (min-width:1024px) {
    .cart__close {
    right: 3.125vw;
    top: 3.125vw;
}
}.cart__close-icon {
    font-family: VCR OSD Mono, monospace;
    font-size: 8vw;
    text-transform: lowercase;
}
@media (min-width:1024px) {
    .cart__close-icon {
    display: none;
}
}.cart__close-text {
    display: none;
}
@media (min-width:1024px) {
    .cart__close-text {
    display: block;
    font-size: .83vw;
    letter-spacing: .15em;
    border-bottom: 1px solid #fff;
}
}.cart__scroll-area {
    overflow-y: scroll;
    margin-top: 6.25vw;
}
@media (min-width:1024px) {
    .cart__scroll-area {
    height: 100%;
    margin-top: 3.125vw;
    padding-bottom: 3.125vw;
}
}::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.cart__title {
    font-family: VCR OSD Mono, monospace;
    font-size: 6.67vw;
    letter-spacing: .15em;
}
.cart__title p:first-child {
    margin-top: 0;
}
.cart__title p:last-child {
    margin-bottom: 0;
}
@media (min-width:1024px) {
    .cart__title {
    font-size: 2.78vw;
    width: 100%}
}.cart__item {
    padding: 6.25vw 0;
    border-top: 1px solid #202020;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.cart__item:last-child {
    border-bottom: 1px solid #202020;
}
@media (min-width:1024px) {
    .cart__item {
    padding: 1.5625vw 0;
}
}.cart__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 13.06vw;
    height: 13.06vw;
}
@media (min-width:1024px) {
    .cart__image {
    width: 6.74vw;
    height: 6.74vw;
}
}.cart__info {
    margin-left: 6.25vw;
    -ms-flex: 1;
    flex: 1;
}
@media (min-width:1024px) {
    .cart__info {
    margin-left: 1.5625vw;
}
}.cart__item-title, .cart__price {
    font-family: VCR OSD Mono, monospace;
    font-size: 3.33vw;
    letter-spacing: .15em;
}
@media (min-width:1024px) {
    .cart__item-title, .cart__price {
    font-size: .97vw;
}
}.cart__price {
    margin-top: 2vw;
}
@media (min-width:1024px) {
    .cart__price {
    margin-top: .5vw;
}
}.cart__size {
    font-size: 2.93vw;
    letter-spacing: .15em;
    margin-top: 2.13vw;
}
@media (min-width:1024px) {
    .cart__size {
    font-size: .83vw;
    margin-top: 1vw;
}
}.cart__remove {
    font-size: 2.93vw;
    letter-spacing: .15em;
    border-bottom: 1px solid #fff;
    margin-top: 1vw;
}
@media (min-width:1024px) {
    .cart__remove {
    font-size: .83vw;
    margin-top: .5vw;
}
}.cart__bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding-top: 6.25vw;
    width: 87.5vw;
    background: #000;
    left: 0;
    box-sizing: border-box;
}
@media (min-width:1024px) {
    .cart__bottom {
    position: static;
    padding: 3.125vw 0;
    width: auto;
}
}.cart__line {
    display: -ms-flexbox;
    display: flex;
}
.cart__line-half {
    font-size: 2.93vw;
    letter-spacing: .15em;
    -ms-flex: 50%;
    flex: 50%;
    text-align: right;
}
@media (min-width:1024px) {
    .cart__line-half {
    font-size: .83vw;
}
}.cart__checkout-wrapper {
    margin-top: 6.25vw;
    display: -ms-flexbox;
    display: flex;
}
@media (min-width:1024px) {
    .cart__checkout-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.25vw;
    background: #202020;
    padding: 0 3.125vw;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 0;
}
}.cart__checkout {
    font-family: VCR OSD Mono, monospace;
    margin-left: auto;
    background: #fff;
    color: #000;
    font-size: 4vw;
    letter-spacing: .15em;
    padding: 2.53vw;
    line-height: 1;
}
@media (min-width:1024px) {
    .cart__checkout {
    font-size: .97vw;
    padding: .58vw;
}
}.page {
    margin: 6.25vw;
    margin-top: 30.47vw;
    color: #0a0a0a;
}
@media (min-width:1024px) {
    .page {
    width: 46.25vw;
    margin: 12.5vw auto 6.25vw;
}
}.page__title {
    font-family: VCR OSD Mono, monospace;
    margin-top: 12.5vw;
    font-size: 6.67vw;
}
@media (min-width:1024px) {
    .page__title {
    font-size: 2.78vw;
}
}.page__content {
    text-transform: none;
    margin-top: 6.25vw;
}
.page__content h1, .page__content h2, .page__content h3, .page__content h4, .page__content h5, .page__content h6 {
    font-family: VCR OSD Mono, monospace;
    text-transform: uppercase;
    letter-spacing: .15em;
}
.page__content ol, .page__content ul {
    padding-left: 10vw;
}
.page__content ul {
    list-style: initial;
}
@media (min-width:1024px) {
    .page__content {
    margin-top: 3.125vw;
}
.page__content h1, .page__content h2, .page__content h3, .page__content h4, .page__content h5, .page__content h6 {
    font-size: .97vw;
    letter-spacing: .05vw;
    margin-bottom: 1.58vw;
}
.page__content ol, .page__content ul {
    padding-left: 3vw;
}
.page__content ol, .page__content p, .page__content ul {
    line-height: 1.5;
    font-size: 1.25vw;
    margin-bottom: 3.13vw;
}
}.password {
    height: 100vh;
    background: #000;
    color: #fff;
}
.password__timer {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: VCR OSD Mono, monospace;
}
.password__value {
    font-size: 12vw;
    margin-left: 4vw;
}
@media (min-width:1024px) {
    .password__value {
    font-size: 8vw;
    margin-left: 2vw;
}
}.password__key {
    font-size: 6vw;
}
@media (min-width:1024px) {
    .password__key {
    font-size: 4vw;
}
}.password__field {
    position: absolute;
    bottom: 25vw;
    left: 25vw;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    border-bottom: 1px solid gray;
    padding: 1.5625vw 0;
    font-size: 4vw;
}
.password__field--focused {
    border-bottom-color: #fff;
}
@media (min-width:1024px) {
    .password__field {
    bottom: 12.5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    padding: 1.5625vw 0;
    font-size: 1.2vw;
}
}.password__input {
    -ms-flex: 1;
    flex: 1;
    color: #fff;
}
.password__input:-ms-input-placeholder {
    color: gray;
}
.password__input::placeholder {
    color: gray;
}
.password__button {
    -ms-flex: 0;
    flex: 0;
    color: #fff;
}
.password__button:disabled {
    color: gray;
}
.collection-progress {
    display: none;
}
@media (min-width:1024px) {
    .collection-progress {
    display: block;
    background: #fff;
    z-index: 4;
    position: fixed;
}
.collection-progress--horizontal {
    height: .36vw;
    transform: scaleX(0);
}
.collection-progress--vertical {
    width: .36vw;
    transform: scaleY(0);
}
.collection-progress--top {
    top: 0;
    left: 0;
    width: 100vw;
    transform-origin: left;
}
.collection-progress--right {
    top: .36vw;
    right: 0;
    height: calc(100vh - .36vw);
    transform-origin: top;
}
.collection-progress--bottom {
    right: .36vw;
    bottom: 0;
    width: 99.64vw;
    transform-origin: right;
}
.collection-progress--left {
    left: 0;
    bottom: .36vw;
    height: calc(100vh - .72vw);
    transform-origin: bottom;
}
}.collection-page-normal {
    font-size: 3.6vw;
}
.collection-page-normal .product-thumbnail__container {
    margin-bottom: 1px;
}
.collection-page-normal .product-thumbnail__info {
    font-size: 3.6vw;
    opacity: 1;
}
@media (min-width:1024px) {
    .collection-page-normal .product-thumbnail__info {
    opacity: 0;
    font-size: 1.171875vw;
}
}@media (min-width:1024px) {
    .collection-page-normal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 3vw;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 85vw;
    padding-top: 10vw;
    padding-bottom: 3vw;
    min-height: 100vh;
}
.collection-page-normal .product-thumbnail__container {
    width: 48%;
    margin-bottom: 3vw;
}
.collection-page-normal .product-thumbnail__button {
    display: none;
}
}
