#app-header {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	font-size: 3vw;
	padding-right: 5%;
	user-select: none;
	align-items: center;
}

#app-header span{
	cursor: pointer;
}

#app-header
	*:not(#site-name):not(#notification):not(#notification *):hover {
	color: red;
	text-shadow: darkred;
	/* text-shadow:
		2px 2px blue,
		-2px -2px green; */
}

#app-header img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	object-fit: cover;
	pointer-events: none; /* Resmi sürükleyemez veya tıklayamazsınız */
}

#site-name {
	position: fixed;
	left: 20px;
	/* pointer-events: none; */
	letter-spacing: 0.2em;
}

#icon-github {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 3vw;
}

  *:focus {
	outline: none;
  }