#bar {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	/* background-color: red; */
	font-size: 3vw;
	padding-right: 5%;
}

#bar span{
	cursor: pointer;
}

/* #bar *:hover { */
#bar *:not(.site-name):hover {
	transform: rotateY(20deg) rotateX(10deg);
	transition: transform 0.5s;
	color: red;
	text-shadow: 
		2px 2px blue,
		-2px -2px green;
}

.site-name {
	position: fixed;
	left: 20px;
	pointer-events: none;
	letter-spacing: 0.2em;
}

.github-icon  {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 3vw;
}
