#login-button {
	padding: 0.6em 2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: transparent;
	cursor: pointer;
	position: absolute;
	z-index: 0;
	border-radius: 10px;
	font-size: 2vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login-button:before {
	content: "";
	background: linear-gradient(
		90deg,
		#020204,
		#204829,
		#22b455,
		#80ce87,
		#92e5a1,
		#80ce87,
		#22b455,
		#204829,
		#020204
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(100px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowingbn5 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowingbn5 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

#login-button:active {
	color: #000;
}

#login-button:active:after {
	background: transparent;
}

#login-button:hover:before {
	opacity: 1;
}

#login-button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	left: 0;
	top: 0;
	border-radius: 10px;
}

#login-button {
	cursor: url('./assets/icon42.svg'), pointer;
}

#icon-github {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 3vw;
}
