#infoChannel {
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	border-radius: 10px;
	user-select: none;
}

.settings {
	display: flex;
	flex-direction: column;
}

.settings > button {
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
}

.settings > button:hover {
	background-color: darkred;
}

/* -------- */

#channelInfoContainer {
	display: flex;
	position: relative;
}

#channelInfoContainer .channel.active {
	background-color: #7a0e0e;
}

/* -------- */

.channel {
	border-radius: 10px;
	font-size: 10px;
	flex: 1;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
  }

.channel svg {
	width: 20px;
	height: 20px;
}

/* ---------- */

.tab-info-channel:hover {
	background-color: #45a049;
}

.tab-info-channel {
	content: '';
	background-color: rgba(30, 97, 45, 0.758);
	border-radius: 10px;
	margin: 5px;
}

#info-content-container {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	position: relative;
	overflow-y: auto; /* Add this line to enable vertical scrolling */
	max-height: calc(100% - 20px); /* Set a maximum height for the container */
}

#info-content-container {
	content: '';
	background-color: rgba(30, 97, 45, 0.758);
	border-radius: 10px;
	margin: 5px;
}

/* -------- */

.info-content-header {
	font-size: 8px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

/* ------- */

#userSearch {
	margin-bottom: 10px; /* İstenilen boşluk değeri */
	padding: 6px; /* İstenilen iç boşluk değeri */
	border: 1px solid #ccc; /* Sınır rengi */
	border-radius: 4px; /* Köşe yuvarlatma */
	width: 100%; /* Tam genişlik */
	box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

/* -------- */

#channel-users {
	display: flex;
	flex: 1;
	overflow: hidden;
	flex-direction: column;
}

/* -------- */

#channel-user {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 5px;
	cursor: pointer;
}

#channel-user:hover {
	background-color: darkred;
}

#channel-user img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
	object-fit: cover; /* Resmin orantılı olarak kaplanması */
}

#channel-user span {
	float: right;
}

#channel-user-info {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: -5px;
	padding: 10px;
	padding-left: 5px;
}

#goProfile,
#DM,
#userKick,
#userBan,
#setAdmin,
#removeAdmin {
	background-color: darkred;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 2px;
}

#goProfile svg,
#DM svg,
#userKick svg,
#userBan svg {
	height: 20px;
	width: 20px;
}

#goProfile:hover,
#DM:hover,
#userKick:hover,
#userBan:hover,
#setAdmin:hover,
#removeAdmin:hover {
	background-color: #45a049;
}

/* -------- */

#userAdd {
	position: sticky;
	bottom: 0;
	left: 100%;
	background-color: darkred;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

#userAdd svg {
	height: 20px;
	width: 20px;
}

#userAdd:hover {
	background-color: #45a049;
}

/* ------------ */

#userBanList {
	position: sticky;
	bottom: 0;
	right: 100%;
	background-color: darkred;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

#userBanList svg {
	height: 20px;
	width: 20px;
}

#userBanList:hover {
	background-color: #45a049;
}

/* ------------ */


#leaveButton,
#deleteButton {
	background-color: darkred;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 0px;
}

#leaveButton:hover,
#deleteButton:hover {
	background-color: #45a049;
}

/* --------- */

#friendSearch,
#banSearch {
	margin-bottom: 10px; /* İstenilen boşluk değeri */
	padding: 6px; /* İstenilen iç boşluk değeri */
	border: 1px solid #ccc; /* Sınır rengi */
	border-radius: 4px; /* Köşe yuvarlatma */
	width: 100%; /* Tam genişlik */
	box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

/* -------- */

#friend-users,
#banned-users {
	border: 1px solid #ccc;
	display: flex;
	flex: 1;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 15px;
	padding-left: 5px;
}

#friend-users:hover,
#banned-users:hover {
	background-color: darkred;
}

#friend-users img,
#banned-users img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

#friend-users-table,
#banned-users-table{
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

/* ------------- */
