#infoChannel {
	/* border: 1px solid #7a0e0e; */
	border-bottom: 1px solid #FF4C29;
	display: flex;
	flex-direction: column;
	flex: 1;
	/* overflow: hidden; */
	border-radius: 10px;
	user-select: none;
}

.settings {
	display: flex;
	flex-direction: column;
}

.settings > button {
	background-color: #334756;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #FF4C29;
	width: 100%;
	margin-bottom: 10px;
}

.settings > button:hover {
	background-color: #FF4C29;
}

.settings > img {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100px;
	width: 100px;
	align-self: center;
}

/* -------- */

#channelInfoContainer {
	display: flex;
	position: relative;
}

#channelInfoContainer .channel.active {
	background-color: #FF4C29;
}

/* -------- */

.channel {
	border-radius: 10px;
	font-size: 10px;
	flex: 1;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #7a0e0e;
	text-align: center;
  }

.channel svg {
	width: 20px;
	height: 20px;
}

/* ---------- */

.tab-info-channel:hover {
	background-color: #ff4d29b7;
}

.tab-info-channel {
	content: '';
	background-color: #334756;
	border-radius: 10px;
	margin: 5px;
}

#info-content-container {
	flex: 1;
	padding: 10px;
	border: 1px solid #7a0e0e;
	position: relative;
	overflow-y: auto; /* Add this line to enable vertical scrolling */
	max-height: calc(100% - 20px); /* Set a maximum height for the container */
}

#info-content-container {
	content: '';
	background-color: #08203284;
	border-radius: 10px;
	margin: 5px;
}

/* -------- */

.info-content-header {
	font-size: 8px;
	text-align: center;
	border-bottom: 1px solid #7a0e0e;
	margin-bottom: 5px;
}

/* ------- */

#userSearch {
	margin-bottom: 10px; /* İstenilen boşluk değeri */
	padding: 6px; /* İstenilen iç boşluk değeri */
	border: 1px solid #7a0e0e; /* Sınır rengi */
	border-radius: 4px; /* Köşe yuvarlatma */
	width: 100%; /* Tam genişlik */
	box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

/* -------- */

#channel-users {
	display: flex;
	flex: 1;
	overflow: hidden;
	flex-direction: column;
}

/* -------- */

#channel-user {
	border: 1px solid #7a0e0e;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 5px;
	cursor: pointer;
}

#channel-user:hover {
	background-color: #FF4C29;
}

#channel-user img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
	object-fit: cover; /* Resmin orantılı olarak kaplanması */
}

#channel-user span {
	float: right;
}

#channel-user-info {
	border: 1px solid #7a0e0e;
	background-color: #334756;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: -5px;
	padding: 10px;
	padding-left: 5px;
}

#channel-user-info > button {
	background-color: #334756;
	border: 1px solid #FF4C29;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 2px;
}

#channel-user-info > button > svg {
	height: 20px;
	width: 20px;
}

#channel-user-info > button:hover {
	background-color: #FF4C29;
}

/* -------- */

#userAdd {
	position: sticky;
	bottom: 0;
	left: 100%;
	background-color: #334756;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #FF4C29;
}

#userAdd svg {
	height: 20px;
	width: 20px;
}

#userAdd:hover {
	background-color: #FF4C29;
}

/* ------------ */

#userBanList {
	position: sticky;
	bottom: 0;
	right: 100%;
	background-color: #334756;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #FF4C29;
}

#userBanList svg {
	height: 20px;
	width: 20px;
}

#userBanList:hover {
	background-color: #FF4C29;
}

/* ------------ */


#leaveButton,
#deleteButton {
	background-color: #FF4C29;
	border-bottom: 1px solid #FF4C29;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 5px;
}

#leaveButton:hover,
#deleteButton:hover {
	background-color: #334756;
}

/* --------- */

#friendSearch,
#banSearch {
	margin-bottom: 10px; /* İstenilen boşluk değeri */
	padding: 6px; /* İstenilen iç boşluk değeri */
	border: 1px solid #7a0e0e; /* Sınır rengi */
	border-radius: 4px; /* Köşe yuvarlatma */
	width: 100%; /* Tam genişlik */
	box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

/* -------- */

#friend-users,
#banned-users {
	border: 1px solid #7a0e0e;
	display: flex;
	flex: 1;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 15px;
	padding-left: 5px;
}

#friend-users:hover,
#banned-users:hover {
	background-color: #FF4C29;
}

#friend-users img,
#banned-users img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	object-fit: cover;
}

#friend-users-table,
#banned-users-table{
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

/* ------------- */

.status-indicator {
	/* position: absolute; */
	bottom: 5px;
	right: 30px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
}

.status-online {
	background-color: green;
}

.status-offline {
	background-color: gray;
}

.status-in-game {
	background-color: rgb(255, 145, 0);
}

.status-in-chat {
	background-color: rgb(0, 13, 255);
}

.status-afk {
	background-color: yellow;
}

/*----------*/

.settings .error-message {
	color: orange;
	margin-top: 5px;
	width: 100%;
	display: inline-block;
  }