#channel {
	/* border: 1px solid #7a0e0e; */
	border-bottom: 1px solid #FF4C29;
	display: flex;
	flex-direction: column;
	flex: 1;
	/* overflow: hidden; */
	border-radius: 10px;
	user-select: none;
}

#channel button {
	background-color: #334756;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #FF4C29;
}

#channel button:hover{
	background-color: #FF4C29;
}

/* ---------- */

#container {
	display: flex;
	position: relative;
}

#container .tab.active {
	background-color: #FF4C29;
}

.tab {
	border-radius: 10px;
	font-size: 10px;
	flex: 1;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #7a0e0e;
	text-align: center;
}

.tab svg {
	width: 20px;
	height: 20px;
}

/* ------ */

.tab {
	content: '';
	background-color: #334756;
	border-radius: 10px;
	margin: 5px;
}

.tab:hover {
	background-color: #ff4d29b7;
}

/* ----------- */

#container-content {
	flex: 1;
	padding: 10px;
	/* border: 1px solid #7a0e0e; */
	position: relative;
	overflow-y: auto; /* Add this line to enable vertical scrolling */
	max-height: calc(100% - 20px); /* Set a maximum height for the container */
	content: '';
	background-color: #08203284;
	border: 1px solid #7a0e0e;
	border-radius: 10px;
	margin: 5px;
}

/* ---------- */

.content-header {
	font-size: 8px;
	text-align: center;
	border-bottom: 1px solid #7a0e0e;
	margin-bottom: 5px;
}

/* ----------- */

#channel-search {
	margin-bottom: 10px; /* İstenilen boşluk değeri */
	padding: 6px; /* İstenilen iç boşluk değeri */
	border: 1px solid #7a0e0e; /* Sınır rengi */
	border-radius: 4px; /* Köşe yuvarlatma */
	width: 100%; /* Tam genişlik */
	box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

#public-channel, #involved-channel {
	border: 1px solid #7a0e0e;
	display: flex;
	flex: 1;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 10px;
	align-items: center;
}

#public-channel:hover,
#involved-channel:hover {
	background-color: #FF4C29;
}

#public-channel img,
#involved-channel img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
	object-fit: cover; /* Resmin orantılı olarak kaplanması */
}

#container-content .active {
	background-color: #FF4C29;
}

/*------------ */

#joinChannel {
	position: sticky;
	bottom: 0;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
}

#joinChannel:hover {
	background-color: rgba(226, 124, 0, 0.979);
}
