#chat-page {
	/*font-size: 1vw;*/
	font-size: 13px;
	display: flex;
	/* flex-direction: row; */
	height: 66vh;
	width: 77vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* overflow: hidden; */
	align-items: stretch;
	gap: 5px;
	height: 70%;
}

@media (max-width: 600px) {
	#chat-page {
		flex-direction: column;
	}
}

*::-webkit-scrollbar {
	width: 8px;
  }
  
*::-webkit-scrollbar-thumb {
	background-color:  #7a0e0e;
	border-radius: 4px;
}

*::-webkit-scrollbar-button {
	height: 5px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #45a049;
}