#chat-page {
	font-size: 1vw;
	display: flex;
	flex-direction: row;
	height: 66vh;
	width: 77vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid #ccc; */
	border-radius: 10px;
	overflow: hidden;
	align-items: stretch;
	gap: 5px;
}

@media (max-width: 600px) {
	#chat-page {
		width: 90vw; /* Ekran genişliği 600px'den küçükse genişliği azalt */
	}
}
