#user-status {
	display: flex;
	flex-direction: column;
	height: 30vh;
	width: 30vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

#save {
	background-color: darkred;
	margin-top: 10%;
	margin-left: 35%;
	cursor: pointer;
}

#save:hover{
	color: black;
}

.close-button {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.close-button:hover{
	color: red;
}
