.gameArea {
	border: 8px solid #ccc;;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 5px;
	background-color: black;
	display: flex;
	position: absolute;
	height: 800px;
	width: 1000px;
	/* align-items: stretch; */
}

.gameArea:before {
	left: 50%;
	content:'';
	width: 10px;
	height: 100%;
	position: absolute;
	border-left: 8px dashed #ccc;
}

.score {
	font-size: 50px;
	left: 50%;
	text-align:center;
	vertical-align: center;
	position: absolute;
	display: table-cell;
	/* display: flex; */
}

.LeftScore {
	font-size: 50px;
	left: 49.5%;
	text-align: center;
	vertical-align: center;
	position: absolute;
	display: table-cell;
	transform: translateX(-150%);
	top: -5%;
}

.RightScore {
	font-size: 50px;
	left: 51%;
	text-align: center;
	vertical-align: center;
	position: absolute;
	display: table-cell;
	transform: translateX(50%);
	top: -5%;
}

.PlayerRight {
	position: absolute;
	border:1px solid #ccc;
	background-color: #ccc;
	height: 125px;
	width: 42px;
	top: 42%;
	left: 100%;
	margin-left: -52px;
	margin-top: 10px;
	position: absolute;
	/* Yavaş geçiş eklemek için */
	/* transition: top 0.2s, left 0.2s; */
}

.PlayerLeft {
	position: absolute;
	border:1px solid #ccc;
	background-color: #ccc;
	top: 345px;
	width: 42px;
	height: 125px;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	/* Yavaş geçiş eklemek için */
	/* transition: top 0.2s, left 0.2s; */
}

.PlayerName {
	font-size: 32px;
	margin-top: 0px;
}
