#profile-page {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	height: 80vh;
	width: 77vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid #ccc; */
	border-radius: 10px;
	overflow: hidden;
	align-items: stretch;
	gap: 5px;
	border: 1px solid #ccc;
	max-height: 70%;
	/*max-height: max-content;*/
}

#profile-page > div {
	background-color: rgba(82, 28, 104, 0.758);
}

@media only screen and (max-width: 600px) {
	#profile-page {
		flex-direction: column; /* Ekran genişliği 600 pikselden küçükse sıralama dikey olacak */
	}
}

#user {
	display: flex;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 5px;
	flex-direction: column;
}

#user-image {
	position: relative;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#user-image > img {
	user-select: none;
	border-radius: 50%;
	position: absolute;
	width: 125px;
	height: 125px;
	object-fit: cover;
}

#userStatus {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}

#user > p {
	margin-bottom: 0;
}

#user-image .status-indicator {
	position: absolute;
	bottom: 5px;
	right: 30px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
}

.status-online {
	background-color: green;
}

.status-offline {
	background-color: gray;
}

.status-in-game {
	background-color: rgb(255, 145, 0);
}

.status-in-chat {
	background-color: rgb(0, 13, 255);
}

.status-afk {
	background-color: yellow;
}

#intraImg {
	pointer-events: none; /* Resmi sürükleyemez veya tıklayamazsınız */
}

#avatarImg:active {
	display: none;
}

.xp-bar {
	border-radius: 5px;
	width: 100%;
	background-color: #f0f0f0; /* XP çubuğu arkaplan rengi */
	height: 20px; /* XP çubuğu yüksekliği */
	position: relative;
}

.xp {
	height: 100%;
	background-color: #4caf50; /* XP çubuğu rengi */
}

.level {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black; /* Seviye metni rengi */
	font-size: 16px; /* Seviye metni font boyutu */
	font-weight: bold; /* Seviye metni kalınlığı */
}

.rate {
	position: absolute;
	top: 50%;
	left: 93%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 16px;
	font-weight: bold;
}

#user button {
	background-color: darkred;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 5px;
}

#user button:hover {
	background-color: #45a049;
}

#user > span {
	display: flex;
    justify-content: center; /* Yatayda merkezleme */
    align-items: center; /* Dikeyde merkezleme */
}

#friends {
	margin-top: 10px;
	overflow-y: auto; /* Dikey kaydırma için */
	max-height: 25vmax;

}

/* ---------------------------- */

#user-board {
	content: '';
	margin: 5px;
	flex: 1;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	position: relative;
	overflow-y: auto; /* Add this line to enable vertical scrolling */
}

#user-info {
	display: flex;
	flex-direction: column; /* Display children in a column */
	gap: 10px;
}

#gameStatus {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
  
#gameStatus div {
	flex: 1; /* Eşit genişlikte paylaştırma */
	margin: 0 5px; /* Sağ ve solda 5px boşluk bırakma */
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
}

#achievements-container {
	user-select: none;
	display: flex;
	flex-direction: row;
	overflow-x: auto; /* Enable horizontal scrolling */
	white-space: nowrap; /* Prevent items from wrapping to the next line */
}

.achievement {
	min-width: 100px;
	height: 100px;
	border: 1px solid white;
	border-radius: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.achievement > .icon {
	height: 50px;
	width: 50px;
}

.title {
	text-align: center;
	font-size: 15px;
	white-space: normal;
}

.progress-bar {
	width: 100%;
	background-color: grey;
}

.progress {
	height: 10px;
	background-color: blue;
}

#history-container {
	margin-top: 10px;
	max-height: calc(100% - 210px); /* Set a maximum height for the container */
	overflow-y: auto; /* Enable vertical scrolling */
}

#history-container > div > p {
	flex: 1;
}

#history-bar {
	font-size: 15px;
	border-radius: 10px;
	display: flex;
	background-color: gray;
	border: 1px solid #ccc;
	padding-left: 10px;
	position: sticky; /* Set position to sticky */
	top: 0; /* Stick to the top */
	z-index: 1; /* Ensure it appears above other elements */
}

.history-item {
	border: 1px solid #ccc;
	display: flex;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px;
	padding-left: 10px;
}

.history-item > p > span {
	display: flex;
}